PORT=5000
MONGODB_URI=mongodb://localhost:27017/hnue-digital-library
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
LINK_COR=http://localhost:3000
ADMIN_EMAIL=admin@hnue.edu.vn
ADMIN_PASSWORD=admin123
